################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AppCenter/AppCenter/obj
/AppCenter/AppCenter.Android/obj
/AppCenter/AppCenter.iOS/obj
/AppCenter/AppCenter.Android/bin/Debug
/AppCenter/AppCenter.iOS/bin/iPhone/Debug
/AppCenter/AppCenter/bin/Debug/netstandard2.0
